@font-face {
    font-family: 'BoldFont';
    src: url('ITC\ Avant\ Garde\ Gothic/ITC\ Avant\ Garde\ Gothic\ Bold.otf') format('opentype');
}

@font-face {
    font-family: 'HelNaur';
    src: url('Helvetica-Narrow/Helvetica-Narrow_Regular_\(wwww.font-cat.com\).ttf') format('truetype');
}

@font-face {
    font-family: Neoris;
    src: url("Neoris/TT\ Neoris\ Trial\ Hairline.ttf");
}

body {
    height: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-image: linear-gradient(45deg, #190731, #91074c);
    font-family: 'HelNaur', Helvetica, Arial, sans-serif;
    padding-top: 10vh;
}

h1 {
    font-family: 'BoldFont';
    position: fixed;
    font-size: 8vw;
    left: -30px;
    letter-spacing: -0.06em;
    background-image: linear-gradient(45deg,
            #30093f35,
            #a30856);
    color: transparent;
    background-clip: text;
    animation: pulse 10s infinite;
}

.back {
    position: fixed;
    font-size: 4.2vh;
    width: 20vw;
    text-align: center;
    color: #891d53;
    padding: 0;
    letter-spacing: 0px;
    line-height: 0;
    border: #0e031e 2px solid;
    border-top-left-radius: 5rem;
    border-bottom-left-radius: 5rem;
    background-color: #1812253f;
    animation: fadein 1s ease-in-out forwards;
    text-decoration: none;
    left: 1rem;
    z-index: 2;
}

.back p,
.user p {
    font-family: Neoris;
    font-weight: bold;
}

#logoback {
    position: absolute;
    height: 15.5vh;
    top: -3.5vh;
    left: 0;
    opacity: 0.5;
    z-index: -1;
}

.back:hover {
    animation: fadein 1s ease-in-out forwards, backdim 0.5s ease-in-out forwards;
}

@keyframes backdim {
    0% {
        left: 1rem;
        background-color: #1812253f;
        color: #891d53;
        border: #0e031e 2px solid;
    }

    100% {
        left: -2vw;
        background-color: #0B192C;
        color: #fff;
        border: #0044ff 2px solid;
    }
}

.user {
    position: fixed;
    font-size: 2vw;
    left: 6vw;
    bottom: 20vh;
    color: #891d53;
    padding: 0;
    width: 20vw;
    min-width: 10rem;
    letter-spacing: 2px;
    line-height: 2px;
    border: #df2f87 2px solid;
    animation: fadein 1s ease-in-out forwards;
    border-radius: 3rem;
    text-decoration: none;
    text-align: center;
    z-index: 2;
}

.user:hover {
    animation: fadein 1s ease-in-out forwards, specdim 1s ease-in-out forwards;
}

@keyframes specdim {
    0% {
        background-color: #00000000;
        color: #891d53;
    }

    100% {
        background-color: #00000036;
        color: #ff0080;
    }
}

#victory {
    position: absolute;
    width: 20rem;
    right: 0;
    z-index: -2;
    opacity: 0;
    top: -5rem;
    animation: weakfadein 1s ease-in-out 0.65s forwards;
}

.big-container {
    position: relative;
    margin-left: auto;
    margin-right: 3vw;
    top: 0vh;
    height: 6.75rem;
    width: 55vw;
    min-width: 40rem;
}

.category {
    font-family: Neoris;
    color: #fff;
    font-size: 3rem;
    margin-bottom: 0;
    text-align: right;
    margin-right: 3vw;
    animation: fadein 1s ease-in-out forwards;
    margin-top: 0;
}

.gitframe {
    position: absolute;
    background-image: linear-gradient(to top right, #120a213b, #150e236f);
    border-radius: 9vh;
    border: #190731 2px solid;
    box-sizing: border-box;
    padding: 10px 10px;
    width: 100%;
    animation: fadein 1s ease-in-out 0.5s forwards;
    opacity: 0;
}

.gitframe:hover {
    animation: fadein 1s ease-in-out 0.5s forwards, dim 1s ease-in-out forwards;
}

.mini1 {
    width: 49%;
    left: 0;
}

.mini2 {
    width: 49%;
    right: 0;
}

.blu {
    border-right: #0040ff 2px solid;
}

.purp {
    border-right: #9500ff 2px solid;
}

.red {
    border-right: rgb(255, 94, 40) 2px solid;
}

.title {
    font-family: Neoris;
    color: #fff;
    font-size: 2rem;
    margin-top: 0;
    margin-left: 1rem;
}

.desc {
    color: #c6c6c69f;
    margin-top: -2rem;
    font-size: 0.8rem;
    margin-left: 1rem;
}

.role {
    font-size: 1.2rem;
    font-style: italic;
    position: absolute;
    top: -0.75rem;
    right: 2rem;
    color: #babababb
}

.lang {
    font-size: 0.65rem;
    position: absolute;
    bottom: 0;
    right: 2rem;
    color: #babababb;
}

.langlogo {
    position: absolute;
    height: 100%;
    top: 0;
    right: 2rem;
    z-index: -1;
    opacity: 0.5;
}

.design {
    width: 100%;
    border-radius: 9vh;
    border: #fff 2px solid;
}

@keyframes fadein {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes weakfadein {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 0.25;
    }
}

@keyframes pulse {
    0% {
        opacity: 0.25;
    }

    50% {
        opacity: 0.75;
    }

    100% {
        opacity: 0.25;
    }
}

@keyframes dim {
    0% {
        background-color: #00000000;
        border-top: #190731 2px solid;
        border-bottom: #190731 2px solid;
        border-left: #190731 2px solid;
    }

    100% {
        background-color: #0000004b;
        border-top: #ff006f 2px solid;
        border-bottom: #ff006f 2px solid;
        border-left: #ff006f 2px solid;
    }
}