body {
    background-image: linear-gradient(45deg, #0B192C, #410f2c);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

@font-face {
    font-family: BoldFont;
    src: url("ITC\ Avant\ Garde\ Gothic/ITC\ Avant\ Garde\ Gothic\ Bold.otf");
}

@font-face {
    font-family: Neoris;
    src: url("Neoris/TT\ Neoris\ Trial\ Hairline.ttf");
}

.big-container {
    position: relative;
    margin: auto auto;
    top: 7vh;
    width: 80vw;
    min-width: 66rem;
    height: 25rem;
}

.panel {
    position: absolute;
    top: 0;
    height: 100%;
    background-color: #00000000;
    border-radius: 25px;
    padding: 2.2rem 1.5rem;
    box-sizing: border-box;
    box-shadow: 0px 0px 40px #00000081;
}

.face {
    left: 0;
    width: 24%;
    background-image: linear-gradient(to bottom left, transparent, #003caa27);
    opacity: 0;
    animation: fadein 1s ease-in-out 0.2s forwards;
}

#fblogo {
    position: absolute;
    bottom: 10px;
    width: 3rem;
    height: auto;
    left: 10px;
    border-radius: 2px;
    border-bottom-left-radius: 15px;
}

#gitlogo {
    position: absolute;
    bottom: 15px;
    width: 2rem;
    height: auto;
    left: 65px;
    border-radius: 50%;
}

@keyframes bluify {
    0% {
        background-color: #00000000;
    }

    100% {
        background-color: #0044ff;
    }
}

@keyframes purpify {
    0% {
        background-color: #00000000;
    }

    100% {
        background-color: #52009e;
    }
}

#fblogo:hover {
    animation: bluify 1s ease-in-out forwards;
}

#gitlogo:hover {
    animation: purpify 1s ease-in-out forwards;
}

.bio {
    right: 0;
    width: 74%;
    background-image: linear-gradient(to top right, transparent, #b1002627);
    opacity: 0;
    animation: fadein 1s ease-in-out 0.4s forwards;
}

.panel:hover {
    border-bottom: #0044ff 2px solid;
    border-left: #0044ff 2px solid;
    border-right: #0044ff 2px solid;
}

.interests:hover {
    border-bottom: #0044ff 2px solid;
    border-left: #0044ff 2px solid;
}

.interests {
    position: relative;
    margin: auto auto;
    top: 5rem;
    width: 80vw;
    min-width: 66rem;
    height: 12rem;
    background-color: #00000000;
    padding: 1rem 1.5rem;
    border-radius: 25px;
    background-image: linear-gradient(to top, transparent, #3900a327);
    box-shadow: 0px 0px 40px #00000081;
    box-sizing: border-box;
    opacity: 0;
    animation: fadein 1s ease-in-out 0.6s forwards;
}

.interests>h2 {
    margin-top: 0.4rem;
}

.proceed {
    height: 100%;
    width: 55%;
    position: absolute;
    top: 0;
    right: 0;
    background-image: linear-gradient(to bottom right, #99113c36, #ff00519c);
    border-radius: 25px;
    border-left: #ff0048 2px solid;
    opacity: 0.6;
    animation: glow 2s infinite;
}

.proceed>img {
    height: 100%;
    position: absolute;
    right: 0;
    opacity: 0.25;
}

.proceed>.big {
    position: absolute;
    right: 1.5vw;
    bottom: 3rem;
}

.proceed:hover {
    animation: buttonfadein 0.5s ease-in-out forwards;
    border: #ff0048 2px solid;
}

#icon1 {
    position: absolute;
    top: 8rem;
    left: 1rem;
    width: 10rem;
    height: 10rem;
    opacity: 0.5;
    z-index: -1;
}

#logo {
    position: absolute;
    width: 10rem;
    height: 10rem;
    z-index: -1;
}

#icon2 {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 15rem;
    height: 15rem;
    opacity: 0.05;
    z-index: -1;
    overflow: hidden;

}

#logo2 {
    position: absolute;
    bottom: -4rem;
    right: -4rem;
    width: 15rem;
    height: 15rem;
    z-index: -1;
}

.name {
    position: absolute;
    top: -2.5rem;
    left: 3rem;
    font-family: BoldFont;
    letter-spacing: 2px;
}

.face .name {
    color: #0059ff;
}

.bio .name {
    color: #ff0037;
    left: unset;
    right: 3rem;
}

.interests .name {
    color: #5900ff;
}

.big {
    font-size: 2.2rem;
    font-family: Neoris;
    color: #ffffff;
}

.big2 {
    margin-top: 2rem;
    font-size: 1.5rem;
    font-family: Neoris;
    color: #ffffff;
}

.ski {
    position: absolute;
    margin-top: -3rem;
}

ul,
ol {
    padding-left: 0;
    margin-top: -0.75rem;
    padding-left: 1rem
}

li {
    margin-bottom: 0.4rem;
}

.pri {
    left: 1.5rem;
    width: 46%;
}

.sec {
    right: 1.5rem;
    width: 46%;
}

.small {
    font-size: 1.1rem;
    font-family: Neoris;
    color: #ffffff;
    text-align: justify;
}

.small2 {
    position: absolute;
    font-size: 0.8rem;
    font-family: Neoris;
    margin-top: 0rem;
    margin-bottom: 0rem;
    color: #ffffff80;
    text-align: right;
}

.i1 {
    bottom: 15px;
    right: 15px;
}

.i2 {
    bottom: 30px;
    right: 15px;
}

hr {
    margin: 0 30px;
}

.info {
    top: 1rem;
    left: 3rem;
}

#fn {
    margin-top: 0;
    text-align: center;
    color: #ffffff;
}

#exp {
    margin-top: -1.5rem;
    text-align: center;
    color: #dadada;
}

.picframe {
    position: relative;
    width: 7.5rem;
    height: 7.5rem;
    border-radius: 50%;
    overflow: hidden;
    top: -0.5rem;
    left: 50%;
    transform: translateX(-50%);
    border: #2600ff44 3px solid;
    background-image: linear-gradient(to bottom, orange, #2600ff);
}

#pfp {
    width: 7.5rem;
    height: auto;
    opacity: 75%;
}

a,
a:visited,
a:active,
a:focus {
    color: #ffa886;
    text-decoration: none;
}

a:hover {
    color: #ffe605;
}

@keyframes buttonfadein {
    0% {
        opacity: 0.6;
        right: 0;
    }

    100% {
        opacity: 1;
        right: -3rem;
        box-shadow: 0px 0px 40px #ff004081;
    }
}

@keyframes fadein {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes glow {
    0% {
        box-shadow: 0 0 0px rgb(255, 23, 139);
    }

    50% {
        box-shadow: -5px 0 20px rgb(255, 23, 139);
    }

    100% {
        box-shadow: 0 0 0px rgb(255, 23, 139);
    }
}